* {
 box-sizing: content-box;   
}

body {
    font-family: Open-sans, Arial, sans-serif;
    font-size: 16px;
    color: #4d4e53;
    line-height: 1.5;
    margin: 0; 
}

header {
    color: black;
}

#page-title {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: Pirata One, Open-sans, sans-serif;
    font-size: 50px;
}

#navbar {
    position: absolute;
    margin: 10px auto 0 auto;
    text-align: left;
    max-height: 250px;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid;
}

#navbar ul {
    padding-left: 0;
    display: block;
    border: 1px solid;
    height: 232px;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    list-style: none;
    border-top: 1px solid;
    padding: 10px 5px 10px 30px;
}

.nav-link {
    text-decoration: none;
    color: #4d4e53;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    margin: 300px 10px 110px auto;
}

.main-section {
    margin-top: 80px;
}

article {
    margin: auto 10px auto 20px;
}

.main-section header {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.sub-heading {
    font-size: 18px;
    margin-left: -20px;
}

.sub-sub-heading-lol {
    font-size: 16px;
}

.paint-swatch {
    position: relative;
    margin-left: 15px;
    margin-right: 8px; 
}

.paint-swatch::after {
    content: "■";
    position: absolute;
    left: -15px;
    top: -17px;
    font-size: 32px;
}

.stirland-battlemire {
    color: rgb(93, 77, 56));
}

.averland-sunset {
    color: #FBB81C;
}

.nurgles-rot {
    color: rgb(83, 157, 22);
}

.screaming-skull {
    color: #B9C099;
}

.athonian-camoshade {
    color: #3e7439;
}

.black {
    color: #000;
}

.elysian-green {
    color: #6B8C37;
}

.leadbelcher {
    color: #8D8D8D;
}

.reikland-fleshshade {
    color: #9E7D65;
}

.castellan-green {
    color: #264715;
}

.rakarth-flesh {
    color: #9C998D;
}

.seraphim-sepia {
    color: #5E4426;
}

.ushabti-bone {
    color: #ABA173;
}

.mournfang-brown {
    color: rgb(88, 53, 7);
}

.nuln-oil {
    color: #656261;
}

.typhus-corrosion {
    color: #373A22;
}

.balthasar-gold {
    color: #774F37;
}

.druchii-violet {
    color: rgb(86, 45, 88);
}

.wraithbone {
    color: #DBD1B2;
}

.plaguebearer-flesh {
    color: rgb(133, 190, 86);
}

.flesh-tearers-red {
    color: #810a08;
}

.skeleton-horde {
    color: #C2B591;
}

.nihilakh-oxide {
    color: rgb(66, 226, 175);
}

.biel-tan-green {
    color: rgb(22, 136, 18); 
}

.dark-angels-green {
    color: rgb(0, 56, 50);
}

.kabalite-green {
    color: #008962;
}

.warboss-green {
    color: #317E57;
}

.moot-green {
    color: #3DAF44;
}

.mechanicus-standard-grey {
    color: #39484A;
}

.zandri-dust {
    color: #988E56;
}

.incubi-darkness {
    color: #082E32;
}

.khorne-red {
    color: #650001;
}

.rhinox-hide {
    color: #462F30;
}

.agrax-earthshade {
    color: rgb(82, 67, 53);
}

.wazdakka-red {
    color: #880804;
}

.dawnstone {
    color: #697068;
}

.gorthor-brown {
    color: #5F463F;
}

.skrag-brown {
    color: #8B4806;
}

.pallid-wych-flesh {
    color: #CACCBB;
}

.sybarite-green {
    color: #17A166;
}

.wild-rider-red {
    color: #E82E1B;
}

.runefang-steel {
    color: #C5CBCF;
}

.kantor-blue {
    color: #02134E;
}

.alaitoc-blue {
    color: #2F4F85;
}

.lothern-blue {
    color: #2C9BCC;
}

.warpfiend-grey {
    color: rgb(92, 89, 114);
}

.slaanesh-grey {
    color: rgb(129, 121, 151);
}

.stegadon-scale-green {
    color: #06455D;
}

.russ-grey {
    color: #507085;
}

.bugmans-glow {
    color: #804C43;
}

footer {
    height: 50px;
    margin: auto auto 5px 5px;
}

#monogram {
    height: 50px;
    width: 50px;
}

@media (min-width: 1200px) {
    #navbar {
        position: fixed;
        border-right: solid rgba(0, 22, 22, 0.4);
        min-width: 290px;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 100%;
        max-height: 100%;
        margin-top: 0;
    }

    #navbar ul {
        padding-left: 0;
        overflow-y: auto;
        overflow-x: auto;
        max-height: 100%;
        height: 100%;
        margin-top: 0;

    }

    #navbar li {
        border: 1px solid;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    main {
        position: absolute;
        margin-top: 0;
        margin-left: 310px;
        margin-bottom: 110px;
        padding: 20px;
    }

    #admech {
        margin-top: 0;
    }
}